
%Frank-green-font-52-shared{
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: bold;
    font-size: .52rem;
    line-height: .67rem;    
    color: #00725B;
}

%Frank-yellow-font-52-shared{
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: bold;
    font-size: .52rem;
    line-height: .67rem;    
    color: #FF7712;
}

%Frank-green-font-52-140-shared{
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: bold;
    font-size: .52rem;
    line-height: 1.4;    
    color: #00725B;
}

%Frank-green-font-40-52-shared{
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: bold;
    font-size: .40rem;
    line-height: .52rem;    
    color: #00725B;
}

%Frank-green-font-30-39-shared{
    font-family: "Frank Ruhl Libre";
    font-style: normal;
    font-weight: 500;
    font-size: .40rem;
    line-height: .39rem;    
    color: #00725B;
}

%Inter-gray-font-20-30-shared{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: .2rem;
    line-height: 1.5;
    color: #6A6A6A;
}


%Inter-gray-font-16-30-shared{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: .2rem;
    line-height: 1.5;
    color: #6A6A6A;
}