
  <!-- <app-navbar></app-navbar> -->
  <!-- center center/cover no-repeat;
  margin-bottom: .62rem -->
  <div class="content-container">

    <!-- hidden  -->

    <input type="hidden" value="off the plan townhouse melbourne">
    <input type="hidden" value="Townhouses For Sale in Melbourne | Off the Plan Townhouses">
    <input type="hidden" value="We will be adding an additional 750+ words surrounding the keywords in Column A to the page and adding a Call to Action (CTA).">
    <input type="hidden" value="Find and Buy Off The Plan Townhouses in Melbourne. YepHome is Australia’s Leading Real Estate Site For Off The Plan Townhouses in Melbourne. Call Now.">



         <!-- first row -->
         <div
         style="width: 100%; height: 4.7rem;
          background: url(./assets/photo/image-Melbourne\ townhouse-1.png)
          center center/cover no-repeat;
          margin-bottom: .62rem "
         >
        </div>

           <!-- second row -->

       <p
       style="
       width: 70%;
       margin:0 auto;
       font-family: Frank Ruhl Libre;
       font-style: normal;
       font-weight: bold;
       font-size: .52rem;
       line-height: .67rem;
       color: #00725B;
       margin-bottom: .99rem;"
       ngStyle.lt-lg = "width: 70%;font-size: 0.4rem"
       ngStyle.lt-md = "width: 80%;font-size: 0.36rem"
       ngStyle.lt-sm = "width: 90%;font-size: 0.24rem"
    >Townhouses for sale in Melbourne
       <br> &nbsp;&nbsp;&nbsp;<span
        style="color:#FF7712"
       >| YepHome</span>
  </p>


     <!-- third row -->

     <div class="off-plan-container"
     style="width:70%; margin:auto"
     fxLayout="row no-wrap"
     ngStyle.lt-md="width:100%; justify-content:space-around"
     ngStyle.lt-lg = "width: 70%;"
     ngStyle.lt-md = "width: 80%;"
     ngStyle.lt-sm = "width: 90%;"
     >

     <div class="two-yellow-block" fxFlexOffset="0" fxFlexOffset.lt-lg="0"
     fxFlexOffset.lt-xl="0"
     fxFlexOffset.lt-md="0"
     fxFlexOffset.lt-md="0"

     >
     <!-- yellow view_module  -->
           <div class="two-yellow-block-container" fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="2%"
           fxLayoutAlign.lt-lg="space-around start"
            >
               <div class="two-yellow-pads" fxLayout="column" fxLayoutAlign="start start"
             >
                       <div class="yellow">
                           <img src="./assets/logos/yellow.svg" alt=""
                           ngStyle.lt-lg="width:.4rem;">

                       </div>

                       <div class="yellow" fxFlexOffset="-140" style="margin-left:32%">
                        <img src="./assets/logos/yellow_dash.svg" alt=""
                        ngStyle.lt-lg="width:.4rem;">
                       </div>
               </div>
               <div class="two-yellow-desc"  fxFlexOffset="2"
                   style="font-family: Lato; font-style: normal;  font-weight: 500;
                           font-size: 20px;line-height: 30px; color: #333333; width:10.21rem;"
                   ngStyle.lt-lg="width:80%"
                >
                   <p style="margin-bottom:.4rem;"
                   ngStyle.lt-lg="font-size:.26rem;line-height:.36rem">
                   Off the plan townhouses in Melbourne are properties which you can reserve as your own before they are built. With the popularity and room for growth within the Melbourne real estate scene, investors from across Australia and the world are flocking to purchase these new residencies due to the high returns available. Off the plan houses in Melbourne are located in some of the best suburbs possible located conveniently to amenities, schools, work and other educational facilities. For these reasons, off the plan houses in Melbourne are in constant demand from families, professionals and investors. If you are looking for a property that is located in a prime location and can provide you with comfort, style and luxury, then our off the plan houses in Melbourne are the best choice for you. Feel free to check out our listings now!

                   </p>

               </div>
           </div>

      <!-- yellow view_module  -->

      </div>

    </div>

    <!-- fourth row  -->

    <div class="fourth-we-offer" style="width:66%;margin:auto;margin-bottom:1.57rem"
    fxLayout="row" fxLayoutAlign="space-evenly center" fxLayout.lt-lg="column"
    fxLayout.lt-lg= "column" fxLayoutAlign.lt-lg="space-evenly center"
    >
        <div class="Firstlook-fourth-row"
        style=" width:45%;"
        ngStyle.lt-lg= "width:85%;"
        ngStyle.lt-md= "width:95%"
        ngStyle.lt-sm= "width:100%"
        >
            <p
            style="
              font-family: Frank Ruhl Libre;
              font-style: normal;
              font-weight: 500;
              font-size: .3rem;
              line-height: .39rem;
              color: #00725B;
              margin-bottom: .4rem;"
            >We offer:</p>
            <ul
            ngStyle.lt-lg= "margin-bottom:0.5rem"
            >
                <li>Luxury design and style</li>
                <li>Comfortable interior and great craftsmanship </li>
                <li>Durable and high quality materials </li>
                <li>Great location</li>
                <li>Big selection of properties</li>
            </ul>
        </div>
        <!-- fxFlexOffset="-2%" -->
        <div

          style="width:35%;
                 height:2.89rem"
                  ngStyle.lt-lg= "width:85%"
        ngStyle.lt-md= "width:95%"
        ngStyle.lt-sm= "width:100%"
        >
            <img src="./assets/photo/image-Melbourne townhouse-2.png" alt=""
            width="100%">
        </div>
    </div>

    <!-- fifth row  -->

    <div Style="width:75%;margin:auto;margin-bottom:.88rem;"
    fxLayout="row wrap"  fxLayoutAlign="center center" fxLayoutGap="8%"
    fxLayout.lt-lg="column"    fxLayoutAlign.lt-lg="start center" fxLayoutGap.lt-lg="12%"

  >
     <!-- first column  -->
     <div class="first-column-luxury" fxFlex="37%" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"
      style="height: 7.5rem;display: flex; flex-direction: column;
       justify-content: flex-start;align-items: center; margin-bottom: .98rem; "


        ngStyle.lt-md="height:auto;font-size: .25rem;  margin-bottom: .98rem; margin-top: .4rem;"
        ngStyle.lt-lg="height:auto;font-size: .25rem;  margin-bottom: .98rem; margin-top: .4rem;"
     >
     <div style="display: flex; justify-content: center; align-items:center;">
         <div
           style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
             background: url('./assets/photo/image-Melbourne\ townhouse-3.png')
              center center/cover no-repeat; margin-bottom: .25rem;"
           >
           </div>
     </div>
          <p
          style="
          align-self: flex-start;
          font-family: Frank Ruhl Libre;
          font-style: normal;
          font-weight: 500;
          font-size: .3rem;
          line-height: .39rem;
          color: #00725B;
          margin-bottom: .25rem;"
          >Luxury Design and Style</p>
          <p
          style="
             font-family: Inter;
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
             line-height: 30px;
             color: #333333;"
               ngStyle.lt-md="font-size: .24rem;margin-bottom: .45rem;margin-top: .25rem;"
               ngStyle.lt-lg="font-size: .2rem; margin-bottom: .45rem;margin-top: .25rem;"

          >
          Our townhouses for sale in Melbourne are beautifully designed by expert and qualified engineers and designers with luxury and style on their minds. At a first glance, you can already see that the building has been meticulously planned out to give off the vibe of sophistication and class. The building blends well within city environments and is quite a spectacle to gaze upon. Upon entering the interior of the townhouses for sale in Melbourne, the same level of sophistication and class is presented. The interior is designed by experts who know how to express comfort and luxury simultaneously.
         </p>
      </div>

     <!-- second-column  -->
     <div fxFlex="37%" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

     ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
     ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

      style="height: 7.5rem;display: flex; flex-direction: column;
       justify-content: flex-start;align-items: center;"
     >
     <div style="display: flex; justify-content: center; align-items:center;">
         <div
           style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
             background: url(./assets/photo/image-Melbourne\ townhouse-4.png)
              center center/cover no-repeat; margin-bottom: .3rem;"
           >
           </div>
     </div>

          <p
          style="
          align-self: flex-start;
          font-family: Frank Ruhl Libre;
          font-style: normal;
          font-weight: 500;
          font-size: .3rem;
          line-height: .39rem;
          color: #00725B;
          margin-bottom: .25rem;"
          >Durable and High Quality Materials</p>
          <p
          style="
             font-family: Inter;
             font-style: normal;
             font-weight: 500;
             font-size: 16px;
             line-height: 30px;
             color: #333333;"
               ngStyle.lt-md="font-size: .24rem;margin-bottom: .45rem;margin-top: .25rem;"
               ngStyle.lt-lg="font-size: .2rem; margin-bottom: .45rem;margin-top: .25rem;"

          >
          It is fair to say that it is common to be concerned about the quality of materials used in new off the plan houses in Melbourne. The quality of materials will determine how durable the building is and how long it will last, which is something you definitely want to take into account when looking to invest in a property. With our off the plan townhouses in Melbourne, we use only the highest quality material in their construction. We believe in providing a high level of service for all our investors, and this involves using excellent materials. Our buildings are meticulously designed and built, meaning they will last the test of time and will provide a solid foundation for any professional or family to move into without having to worry at all.
         </p>
      </div>

  </div>

  <!-- sixth row  -->

  <div Style="width:75%;margin:auto;margin-bottom:1.57rem;"
    fxLayout="row wrap"  fxLayoutAlign="center center" fxLayoutGap="8%"
    fxLayout.lt-lg="column"    fxLayoutAlign.lt-lg="start center" fxLayoutGap.lt-lg="12%"

>
   <!-- first column  -->
   <div fxFlex="37%" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

   ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
   ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

    style="height: 7.5rem;display: flex; flex-direction: column;
     justify-content: flex-start;align-items: center;"
   >
   <div style="display: flex; justify-content: center; align-items:center;">
       <div
         style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
           background: url(./assets/photo/image-Melbourne\ townhouse-5.png)
            center center/cover no-repeat; margin-bottom: .3rem;"
         >
         </div>
   </div>

        <p
        style="
        align-self: flex-start;
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-weight: 500;
        font-size: .3rem;
        line-height: .39rem;
        color: #00725B;
        margin-bottom: .25rem;"
        >Great Location</p>
        <p
        style="
           font-family: Inter;
           font-style: normal;
           font-weight: 500;
           font-size: 16px;
           line-height: 30px;
           color: #333333;"
             ngStyle.lt-md="font-size: .24rem;margin-bottom: .45rem;margin-top: .25rem;"
             ngStyle.lt-lg="font-size: .2rem; margin-bottom: .45rem;margin-top: .25rem;"

        >
        You don’t need us to tell you that our townhouses for sale in Melbourne are located in some of the most sought after suburbs. From beautiful suburbia, great for families and for settling down, to cityscapes perfect for the young professional, we have it all in our off the plan houses in Melbourne. Being located close to so many amenities makes living that much easier, with convenient access to shopping centres, schools, educational facilities and work opportunities. The family, students and professionals will all benefit from living in one of our primely located townhouses for sale in Melbourne.
       </p>
    </div>

   <!-- second-column  -->
   <div fxFlex="37%" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

   ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
   ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

    style="height: 7.5rem;display: flex; flex-direction: column;
     justify-content: flex-start;align-items: center;"
   >
   <div style="display: flex; justify-content: center; align-items:center;">
       <div
         style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
           background: url(./assets/photo/image-Melbourne\ townhouse-4.png)
            center center/cover no-repeat; margin-bottom: .25rem;"
         >
         </div>
   </div>

        <p
        style="
        align-self: flex-start;
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-weight: 500;
        font-size: .3rem;
        line-height: .39rem;
        color: #00725B;
        margin-bottom: .57rem;"
        >Big Selection of Properties</p>
        <p
        style="
           font-family: Inter;
           font-style: normal;
           font-weight: 500;
           font-size: 16px;
           line-height: 30px;
           color: #333333;"
             ngStyle.lt-md="font-size: .24rem;margin-bottom: .45rem;margin-top: .25rem;"
             ngStyle.lt-lg="font-size: .2rem; margin-bottom: .45rem;margin-top: .25rem;"

        >
        We have a large selection of different townhouses for sale in Melbourne on our website. We believe in having a large portfolio of different properties for our investors to pick from, to allow them to pick one which suits them best. Our off the plan houses in Melbourne are located in numerous different suburbs with differing levels of access to amenities, as well as a number of different designs for both the exterior of a building and the interior of the place. You will be proud to call one of our properties home, as you will surely find something you like!

       </p>
    </div>

</div>

   <!-- seventh row  -->

   <div style="width:100%; height: 5.3rem; margin:auto;
   background: url('./assets/photo/image-Melbourne\ apartment-6.png')
  "
  ngStyle.lt-lg="height: 7.6rem"
  fxLayout="row"   fxLayoutAlign="flex-start center" fxLayoutAlign.lt-lg="center center"
>
    <div fxFlex="29"
    fxFlexOffset="15"
    fxFlex.lt-lg="65"
    fxFlex.lt-md="85"
    fxFlex.lt-sm="100"
    fxFlexOffset.lt-lg="0"
    >

    <p
    style="
        width: 100%;
        font-family: 'Frank Ruhl Libre';
        font-style: normal;
        font-weight: bold;
        font-size: .40rem;
        line-height: .40rem;
        color: #FFFFFF;
        margin-top: .9rem;
        margin-bottom: .3rem;
        "
        ngStyle.lt-lg= "width: 900%;margin-auto; padding: .12rem; margin-bottom:.2rem;  margin-top:1.5rem;font-size: .3rem;"
        ngStyle.lt-md= "margin-bottom:.2rem; padding:.12rem;margin-top: 0rem; margin-top:1.5rem;font-size: .3rem;"
   >
   Why Choose YepHome?
</p>

        <p
        style="
           width:100%;
           margin:auto;
           font-family: Inter;
           font-style: normal;
           font-weight: 500;
           font-size: .16rem;
           line-height: .3rem;
           color: #FFFFFF;
           margin-bottom: 1.40rem;
       "
       ngStyle.lt-lg="font-size: .20rem;  padding:0.12rem;line-height: .32rem;"
       ngStyle.lt-md="font-size: .20rem;  padding:0.12rem;line-height: .32rem;"
       ngStyle.lt-sm="font-size: .22rem;  padding:0.12rem;line-height: .32rem;"
        >
        At YepHome, our team aims to provide the highest quality of off the plan houses in Melbourne which our investors can be satisfied with as a place to live or as an investment property. Our team only develops high quality, luxury properties which rival those on the market, created with the best possible materials to ensure durability. Our interiors ooze sophistication, class and comfort and will be sure to keep you happy in your new living space! With so many different locations, our properties are built all over the country, and you will be spoiled for choice on our website. If you are looking for the best possible place to live or an investment, our new properties are the way to go!

       </p>
    </div>

    <!-- <div fxFlex="25" fxFlex.lt-lg="0"
    >

    </div> -->


</div>


<div fxLayout="row" fxLayoutAlign="start" fxLayoutAlign.lt-lg="center"
fxLayoutAlign.lt-md="center" >
    <div class="dialog-container"
    fxFlexOffset="50"
    fxFlexOffset.lt-lg="0"
    fxFlexOffset.lt-md="0"

    style="background: #FF7712;
    margin-top: -15%;
    width: 5.19rem;
    height:4.43rem;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-right: 0rem;

    "
    ngStyle.lt-lg= " width:85%; margin-top: 5%"
    ngStyle.lt-md= " width:95%; margin-top: 5%"
    ngStyle.lt-sm= " width:100%; margin-top: 5% font-size: .28rem"
>
    <p style="width:85%;
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 500;
    font-size: .28rem;
    line-height: .36rem;
    color: #FFFFFF;
    margin-bottom: 1.18rem;
    text-align: center;
    "
    >Contact us now to learn more!
</p>

<div class="btn-yellow"
(click) = "contatcUs($event);$event.stopPropagation()"
        >CONTACT US</div>
</div>
</div>


  <!-- end div  -->
  </div>

