
  <div class="content-container">

      <!-- hidden  -->

      <input type="hidden" value="apartments for sale sydney">
      <input type="hidden" value="New Off The Plan Apartments in Sydney | Apartments for Sale">
      <input type="hidden" value="We will be adding an additional 750+ words surrounding the keywords in Column A to the page and adding a Call to Action (CTA).">
      <input type="hidden" value="Find and Buy Off The Plan Apartments in Sydney. YepHome is Australia’s Leading Real Estate Site For Off The Plan Apartments in Sydney. View our Listings Now.">



          <!-- first row -->
          <div
              style="width: 100%; height: 4.7rem;
              background: url(./assets/photo/image-Sydney\ apartment-1.png)
                  center center/cover no-repeat;
                  margin-bottom: .62rem;"
              >
          </div>

          <!-- second row -->

          <p
          style="
          width: 70%;
          margin:0 auto;
          font-family: Frank Ruhl Libre;
          font-style: normal;
          font-weight: bold;
          font-size: .52rem;
          line-height: .67rem;
          color: #00725B;
          margin-bottom: .99rem;"
          ngStyle.lt-lg = "width: 70%;font-size: 0.4rem"
          ngStyle.lt-md = "width: 80%;font-size: 0.36rem"
          ngStyle.lt-sm = "width: 90%;font-size: 0.24rem"
          >Off The Plan Apartments For Sale In Sydney
          <br> &nbsp;&nbsp;&nbsp;<span
          style="color:#FF7712"
          >| YepHome</span>
          </p>

          <!-- third row -->

       <div class="off-plan-container"
     style="width:70%; margin:auto"
     fxLayout="row no-wrap"
     ngStyle.lt-md="width:100%; justify-content:space-around"
     ngStyle.lt-lg = "width: 70%;"
     ngStyle.lt-md = "width: 80%;"
     ngStyle.lt-sm = "width: 90%;"
     >

     <div class="two-yellow-block" fxFlexOffset="0" fxFlexOffset.lt-lg="0"
     fxFlexOffset.lt-xl="0"
     fxFlexOffset.lt-md="0"
     fxFlexOffset.lt-md="0"

     >
     <!-- yellow view_module  -->
           <div class="two-yellow-block-container" fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="2%"
           fxLayoutAlign.lt-lg="space-around start"
            >
               <div class="two-yellow-pads" fxLayout="column" fxLayoutAlign="start start"
             >
                       <div class="yellow">
                           <img src="./assets/logos/yellow.svg" alt=""
                           >
                       </div>

                       <div class="yellow" fxFlexOffset="-140" style="margin-left:32%">
                           <img src="./assets/logos/yellow_dash.svg" alt=""
                           ngStyle.lt-lg="width:.4rem;">
                       </div>
               </div>
               <div class="two-yellow-desc"  fxFlexOffset="2"
                   style="font-family: Lato; font-style: normal;  font-weight: 500;
                           font-size: 20px;line-height: 30px; color: #333333; width:10.21rem;"
                   ngStyle.lt-lg="width:80%"
                >
                   <p style="margin-bottom:.4rem;"
                   ngStyle.lt-lg="font-size:.26rem;line-height:.36rem"
                   >
                      In terms of the Australian property marketplace, there’s no more sought-after city. People are always searching for apartments for sale in Sydney, across the wide expanse that the city offers there are unprecedented opportunities being found and some ripe off the plan apartments for sale in Sydney and its surroundings.
                      <br><br>


                      Everyone is after the latest and greatest property to bolster their portfolio, and with the current trend in property markets and increase in apartments for sale in Sydney, it’s looking like the prices are only going to go up. This is great news for those who own their properties.
                      <br><br>


                      For a city that is vibrantly on its way back to the limelight, with proposed proposals to revitalise the wavering nightlife and the return of many companies who are headquartering and occupying new real estate with every passing year, there’s never been a better time to consider beginning your search for new off the plan apartments in Sydney.
                      <br><br>


                      New apartments in Sydney offer a unique opportunity for young families and working professionals to make a move into the marketplace as well as have the home of their dreams, all in the same transaction. It’s not simply an investment, it’s a chance to be in the epicentre of one of the most sought-after and livable cities in the world.
                   </p>
               </div>
           </div>

      <!-- yellow view_module  -->

      </div>

      </div>

       <!-- fourth row  -->
        <div  style="width:70%;margin:auto;height:3.98rem"
        fxLayout = "row" fxLayoutAlign="space-evenly stretch"
        fxLayout.lt-lg = "column"
        fxLayoutAlign.lt-lg="start center"
        ngStyle.lt-lg="width:100%;margin-bottom: .8rem;margin-bottom: .3rem;height:7.96rem"
        >
            <div fxFlex="57"  ngStyle.lt-lg="width:70%;height:3.98rem">
                <img src="./assets/photo/image-Sydney apartment-2.png" alt=""
                  style="height:100%;width:100%;"
                >
             </div>

              <div style="padding: .2rem .37rem ; background-color: #00725B;
              width:5.19rem; height: 100%;display: flex;flex-direction: column;
              justify-content: space-evenly;align-items: flex-start;"

               ngStyle.lt-lg="width:70%;margin:auto;margin-top:0.0rem;"
               ngStyle.lt-md="width:70%;margin:auto;margin-top:0.0rem;"

               >
               <div fxLayout="row" fxLayoutAlign="start start"
                  style="height:.3rem"
               >
                   <p style="width:auto;
                     font-family: Frank Ruhl Libre;
                     font-style: normal;
                     font-weight: 500;
                     font-size: .2rem;
                     line-height: .3rem;
                      color: #FFFFFF;
                      margin-right:  0.4rem;
                      margin-bottom: .6rem;
                      margin-bottom: .6rem;
                      "
                      >
                      Yephome
                   </p>
                   <div
                   style="width: .7rem; height:.0rem; border:1px solid #FFF;
                          align-self: center;"
                   ></div>
               </div>
            <p style="width:95%;
                   font-family: Frank Ruhl Libre;
                     font-style: normal;
                     font-weight: 500;
                     font-size: .3rem;
                     line-height: .39rem;
                      color: #FFFFFF;
                      margin-bottom: .6rem;
                      margin-bottom: .6rem; "
                      >Virtually Step Into Some Off The Plan Apartments For Sale In Sydney
             </p>
            <div class="btn-yellow1"
                    ngStyle.lt-lg="margin-bottom: .8rem;margin-bottom: .3rem;"
                      (click)="findSydOut()">FIND IT OUT</div>
      </div>
        </div>

        <!-- fifth row  -->

        <div Style="width:75%;margin:auto;margin-bottom:0.57rem;margin-top:.9rem"
        fxLayout="row wrap"  fxLayoutAlign="center start" fxLayoutGap="2%"
        fxLayout.lt-lg="column wrap"  fxLayoutAlign.lt-lg="start center" fxLayoutGap="8%"

        >
          <!-- first column  -->
           <div class="col-card" fxFlex="37%"
                  style="background: F5F5F5; margin-top: 0.9rem;margin-bottom: 0.9rem;"
                  fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

              ngStyle.lt-md="font-size: .25rem; margin-bottom: .25rem; margin-top: 0.6rem;"
              ngStyle.lt-lg="font-size: .22rem; margin-bottom: .25rem; margin-top: 0.6rem"

              >
              <div style="width:100%; height:.19rem; background: #FF7712;margin-bottom: .6rem;"
              ></div>

              <div class="grid-card" style="width:75%; margin:auto;"
              >
                  <p class="title-grid-card">A Beautiful Landscape</p>
                  <p class="content-grid-card"
                  ngStyle.lt-lg="font-size: .22rem; line-height:.3rem">
                      As mentioned earlier, the number of people actively looking for their own slice of paradise in the hustle and bustle of the city is inspiring. There’s an evergreen desire for people from all walks of life to imagine waking up or going to sleep with the sights and sounds of the unique city skyline. A lot of new apartments in Sydney are espousing an incredible view and unforgettable moments that reset with each and every day.
                       <br><br>
                     The nightlife is on the way back up, businesses are flocking back to the metropolis to start new ventures and chapters, and the cityscape is spreading farther and wider as the population density continues to flourish. While it is a popular city, the prices are not always so kind. As demand increases – naturally the prices are reflective, this lends itself to being a little harder to enter into the property market, particularly for first home buyers and those without an incredulous amount of income.
                        <br><br>
                      The best aspect of new off the plan apartments in Sydney is the fact that they are often much more affordable than a finished property, allowing a little more leniency for those who have not had a chance in the unforgiving market.
                  </p>


              </div>

          </div>

            <!-- second column  -->
            <div class="col-card" fxFlex="37%"
            style="background: F5F5F5; margin-top: 1.9rem;margin-bottom: 0.9rem;"
            fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

            ngStyle.lt-md="font-size: .25rem; margin-bottom: .25rem; margin-top: 1.9rem;"
            ngStyle.lt-lg="font-size: .22rem; margin-bottom: .25rem; margin-top: 1.9rem"

        >
        <div style="width:100%; height:.19rem; background: #FF7712;margin-bottom: .6rem;"
        ></div>

        <div class="grid-card" style="width:75%; margin:auto;"
        >
            <p class="title-grid-card">Different Sizes Available</p>
            <p class="content-grid-card"
            ngStyle.lt-lg="font-size: .22rem; line-height:.3rem">
              Finding the right sized home is always a major factor for those who are looking to expand their family, or to simply have a little more or even a little less room to move around in. A fantastic aspect with many off the plan apartments for sale in Sydney is the fact that they are quite flexible and workable from a design standpoint when they have not begun construction. The conceptual nature of it also makes it much easier to find the perfect sized home for you and yours.
               <br><br>
              From a single bedroom, double bedroom to a deluxe penthouse in the sky, the limits are only set by your imagination and the designs themselves, and for apartments for sale in Sydney, there is always room for innovation.
            </p>

        </div>

           </div>
        </div>

        <!-- six row  -->

            <div
              style="width:75%;height: 3.8rem;
              margin-top: .8rem;
              margin-bottom: .8rem;
              margin:auto; background: url(./assets/photo/image-Sydney\ apartment-3.png) center center/cover no-repeat;"
            ></div>


        <!-- seventh row  -->

        <div class="off-plan-container"
        style="width:70%; margin:auto;margin-top:1.1rem"
        fxLayout="row no-wrap"
        ngStyle.lt-md="width:100%; justify-content:space-around"
        ngStyle.lt-lg = "width: 70%;"
        ngStyle.lt-md = "width: 80%;"
        ngStyle.lt-sm = "width: 90%;"
        >

        <div class="two-yellow-block" fxFlexOffset="0" fxFlexOffset.lt-lg="0"
        fxFlexOffset.lt-xl="0"
        fxFlexOffset.lt-md="0"
        fxFlexOffset.lt-md="0"

        >
        <!-- yellow view_module  -->
              <div class="two-yellow-block-container" fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="2%"
              fxLayoutAlign.lt-lg="space-around start"
               >
                  <div class="two-yellow-pads" fxLayout="column" fxLayoutAlign="start start"
                >
                          <div class="yellow">
                              <!-- <img src="./assets/logos/yellow.svg" alt=""> -->
                              <img src="./assets/logos/yellow_dash.svg" alt=""
                              ngStyle.lt-lg="width:.4rem;">
                          </div>

                          <div class="yellow" fxFlexOffset="-140" style="margin-left:32%">
                              <!-- <img src="./assets/logos/yellow_dash.svg" alt=""> -->
                          </div>
                  </div>
                  <div class="two-yellow-desc"  fxFlexOffset="2"
                      style="font-family: Lato; font-style: normal;  font-weight: 500;
                              font-size: 20px;line-height: 30px; color: #333333; width:10.21rem;"
                      ngStyle.lt-lg="width:80%"
                   >

                   <p style="
                   font-family: Inter;
                   font-style: normal;
                   font-weight: 600;
                   font-size: .3rem;
                   line-height: .36rem;
                   color: #000000;
                   margin-bottom: .43rem;"
                   ngStyle.lt-lg=" font-size: .28rem;width: 85% margin-bottom:.39rem"
                   ngStyle.lt-md="width: 85% .28rem;margin-bottom:.39rem"
                   ngStyle.lt-sm="width: 85% .28rem;margin-bottom:.39rem"
                    >A Place To Rest Or To Simply Invest
                   </p>
                      <p style="margin-bottom:.4rem;"
                      ngStyle.lt-lg="font-size:.26rem;line-height:.36rem"
                      >
                      There’s a trend in the more affluent communities of the world to invest heavily in the property market, taking calculated movements and purchases that bolster the bottom line. We’re seeing many more savvy investors getting in on the ground floor of these off the plan apartments for sale in Sydney, understanding that the project itself may not come to fruition for some time, but paying a lot less for the time served. <br><br>

                      Adding new apartments in Sydney to any property investors portfolio is always a wonderful nest egg to keep tucked away, as the prices will continue to rise, and the value of the original investment will expand in tow.


                      </p>

                  </div>
              </div>

         <!-- yellow view_module  -->

         </div>

       </div>

       <!-- eight row  -->

     <div class="off-plan-container"
        style="width:70%; margin:auto;margin-top:1.1rem"
        fxLayout="row no-wrap"
        ngStyle.lt-md="width:100%; justify-content:space-around"
        ngStyle.lt-lg = "width: 70%;"
        ngStyle.lt-md = "width: 80%;"
        ngStyle.lt-sm = "width: 90%;"
        >

        <div class="two-yellow-block" fxFlexOffset="0" fxFlexOffset.lt-lg="0"
        fxFlexOffset.lt-xl="0"
        fxFlexOffset.lt-md="0"
        fxFlexOffset.lt-md="0"

        >
        <!-- yellow view_module  -->
              <div class="two-yellow-block-container" fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="2%"
              fxLayoutAlign.lt-lg="space-around start"
               >
                  <div class="two-yellow-pads" fxLayout="column" fxLayoutAlign="start start"
                >
                          <div class="yellow">
                              <!-- <img src="./assets/logos/yellow.svg" alt=""> -->
                              <img src="./assets/logos/green_dash_lines.svg" alt=""
                              ngStyle.lt-lg="width:.4rem;">
                          </div>

                          <div class="yellow" fxFlexOffset="-140" style="margin-left:32%">
                              <!-- <img src="./assets/logos/yellow_dash.svg" alt=""> -->
                          </div>
                  </div>
                  <div class="two-yellow-desc"  fxFlexOffset="2"
                      style="font-family: Lato; font-style: normal;  font-weight: 500;
                              font-size: 20px;line-height: 30px; color: #333333; width:10.21rem;"
                      ngStyle.lt-lg="width:80%"
                   >

                   <p style="
                   font-family: Inter;
                   font-style: normal;
                   font-weight: 600;
                   font-size: .3rem;
                   line-height: .36rem;
                   color: #000000;
                   margin-bottom: .43rem;"
                   ngStyle.lt-lg=" font-size: .28rem;width: 85% margin-bottom:.39rem"
                   ngStyle.lt-md="width: 85% .28rem;margin-bottom:.39rem"
                   ngStyle.lt-sm="width: 85% .28rem;margin-bottom:.39rem"
                    >Find Your Perfect Slice Of Heaven
                   </p>
                      <p style="margin-bottom:.4rem;"
                      ngStyle.lt-lg="font-size:.26rem;line-height:.36rem">
                          With the YepHome platform and the resources that we have at our disposal, you’ll be hard pressed to not find the conceptual slice of paradise that you are searching for. We have unprecedented access to a number of off the plan apartments for sale in Sydney’s CBD and beyond. Construction projects are never stopping, and the notion of new apartments for sale in Sydney is one that will not be going anywhere anytime soon.

                      </p>

                  </div>
              </div>

         <!-- yellow view_module  -->

         </div>

      </div>


      <!-- ninth row  -->

      <div style="width:100%; height: 5.1rem; margin:auto;
      background: url('./assets/photo/image-Sydney\ apartment-6.png') center center/cover no-repeat;
     "
     fxLayout="column"   fxLayoutAlign="space-evenly center" fxLayoutAlign.lt-lg="center center"
     fxLayoutAlign.lt-lg="space-around center"
   >
       <div>
           <p
           style="
              width: 65%;
              margin:auto;
              font-family:  Frank Ruhl Libre;
              font-style: normal;
              font-weight: 500;
              font-size: .28rem;
              line-height: .36rem;
              color: #FFFFFF;
              margin-bottom: 1.40rem;
              text-align: center;
          "
          ngStyle.lt-lg="width: 75%;font-size: .24rem; margin-top: .8rem;margin-bottom:.4rem;"
          ngStyle.lt-md="width: 85%;font-size: .28rem;  margin-top: .8rem;line-height: .36rem; margin-bottom:.4rem;"
          ngStyle.lt-sm="width: 95%;font-size: .32rem;  margin-top: .8rem;line-height: .40rem;  margin-bottom:.4rem;"
           >
           A Little More Intrigued? We Are Always Here To Answer Your Questions
          </p>

          <div class="btn-yellow-green"
              (click)= "contatcUs($event);$event.stopPropagation()"
              >CONTACT US
          </div>
       </div>

       <!-- <div fxFlex="25" fxFlex.lt-lg="0"
       >

       </div> -->


      </div>



      <!-- end div  -->
  </div>

