
<!-- <div *ngIf="deviceXs">
    Main works !</div> -->


    <div class="content-container">
      <!-- hidden  -->

      <input type="hidden" value="off plan property">
      <input type="hidden" value="Buy Off Plan Property | Discover Your Dream Home | YepHome">
      <input type="hidden" value="We will be adding an additional 750+ words surrounding the keywords in Column A to the page and adding a Call to Action (CTA).">
      <input type="hidden" value="Find and Buy Off The Plan Apartments, Townhouses and New and Land Packages. YepHome is Australia’s Leading Real Estate Site For Off The Plan Properties.">

      <!-- first row block -->

      <div class="buy-off-img-container" fxLayout="row no-wrap"
      style="height:auto"
      ngStyle.lt-md="width:100%; justify-content:space-around">

             <div class="buy-off-img" fxFlexOffset="21" fxFlexOffset.lt-md="0"
             fxFlexOffset.lt-xl="10"
             ngStyle.lt-lg="margin:0 auto"
             fxFlexOffset.lt-lg="5"
             fxFlexOffset.lt-md="3"
                fxLayout="row"
                 style="display:flex; justify-content: space-around;"
                 ngStyle.lt-md="display: flex; flex-direction:column;align-items: center; text-align: center; width:90%"
                 ngStyle.lt-lg="display: flex; flex-direction:column;align-items: center; text-align: center; width:90% margin-right:0;">

                 <div class="buy-off" fxFlex="39" fxFlex.lt-md="100%" fxFlex.lt-lg="80%"
                >
                      <p class="buy-off-title"
                      ngStyle.lt-lg="width: 95%;font-size:.4rem;line-height:.6rem"
                      >Buy Off Plan Property With Assurance & Convenience With
                      <span class="yellow-yep"
                      ngStyle.lt-lg="width: 95%;font-size:.4rem;line-height:.6rem"
                      >YepHome</span> </p>
                      <div class="desc-details"
                       style="display: flex; flex-direction:column;justify-content: space-evenly;width: 90%;margin-bottom: 1.5rem"
                       ngStyle.lt-lg="width: 95%;font-size:.28rem;margin-bottom:1.5rem;"
                       ngStyle.lt-md="width:100%; font-size:.24rem;margin-bottom:1.5rem;"
                       >

                         <!-- <div   class="content-desc" [ngClass]="{'limitTextHeight': isReadMore}" -->
                         <div   class="content-desc"
                          >
                           <p

                           style="font-size: .2rem;"
                           ngStyle.lt-lg="font-size:.24rem;"
                           >Everyone wants a home to call their own, with the market being so favourable to owners in this country, it’s about time there was a service that married the conveniences of digital planning, with the excitement of buying off plan property.
                            <br><br>
                            YepHome allows for an easy-to-navigate, and informationally rich platform in which prospective homeowners can browse through the various projects, and let their imaginations run wild with what could potentially come to pass.

                        </p>
                         </div>


                      </div>
                 </div>

                 <div fxFlex="60" style="display: flex; flex-direction: column; justify-content: center;margin-top:.9rem;"
                 fxFlex.lt-xl="80"
                 fxFlex.lt-lg="90"
                 fxFlex.lt-md="100"
                 ngStyle.lt-lg="margin-top:.5rem;"

                 >
                     <!-- <img   src="./../assets/photo/first_page_buy_off_living.png" alt=""> -->
                     <img   src="./assets/photo/first_page_buy_off_living.png" alt="">

                 </div>

             </div>
      </div>

      <!-- second row block -->

      <div class="off-plan-container" fxLayout="row no-wrap"
           ngStyle.lt-md="width:100%; justify-content:space-around" >
           <div class="two-yellow-block" fxFlexOffset="21" fxFlexOffset.lt-lg="0"
           fxFlexOffset.lt-xl="10"
           fxFlexOffset.lt-lg="3"
           fxFlexOffset.lt-md="0"
           >
           <!-- yellow view_module  -->
                 <div class="two-yellow-block-container" fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="2%"
                 fxLayoutAlign.lt-lg="space-around start"
                  >
                     <div class="two-yellow-pads" fxLayout="column" fxLayoutAlign="start start"
                   >
                             <div class="yellow">
                                 <img src="./assets/logos/yellow.svg" alt=""
                                 ngStyle.lt-lg="width:.5rem;">
                             </div>

                             <div class="yellow" fxFlexOffset="-140" style="margin-left:32%">
                                 <img src="./assets/logos/yellow_dash.svg" alt=""
                                 ngStyle.lt-lg="width:.5rem;">
                             </div>
                     </div>
                     <div class="two-yellow-desc"  fxFlexOffset="2"
                         style="font-family: Lato; font-style: normal;  font-weight: 500;
                                 font-size: 20px;line-height: 30px; color: #333333; width:10.21rem;"
                         ngStyle.lt-lg="width:80%"
                      >
                         <p style="margin-bottom:.25rem;"
                         ngStyle.lt-lg="font-size:.26rem;line-height:.36rem"
                         >
                         Off the plan buying is fast becoming the hottest new trend for those looking to invest in the burgeoning marketplace. Offering an alternative route to investing in the varied and often unpredictable marketplace, with a sense of security, knowing that your dream is on its way. Many people are citing the conveniences of a platform like YepHome have made it easier to saunter through the wide variety of upcoming projects, and to determine with a higher degree of ease, the choice they wish to make. <br><br>

                         Whether it's buying apartments off the plan, or simply browsing at townhouses for sale, YepHome is your one-stop location for anything and everything you need to start browsing and begin a fresh and exciting chapter in your life.

                         </p>

                     </div>
                 </div>

            <!-- yellow view_module  -->

            </div>

      </div>

          <!-- third row block -->

      <div class="look-container" fxLayout="row now-wrap" fxLayoutAlign="start center"
           fxLayoutAlign.lt-lg="center center"
           style="margin-left: 10%;"
           ngStyle.lt-lg="margin:auto;width:100%;display:flex;flex-direction: column; justify-content:center; align-items:center; margin-bottom:.93rem ">
              <div class="look-img" style="width: 5.53rem; height: 6.03rem" fxLayout="row"  fxLayoutAlign="center center"
              ngStyle.lt-lg="width:95%;margin:auto;"
                   >
                  <img src="./assets/photo/first_page_3_row_hava_look.png" alt=""
                     style="width:100%;margin:auto;height:100%"
                  >
              </div>

           <div style="padding: 1.08rem .37rem ; background-color: #00725B;
                      width:5.19rem; height: 4.42rem;margin-left:-0.8rem"
                       ngStyle.lt-lg="margin-left:0"
                       ngStyle.lt-lg="width:95%;margin:auto; margin-top:.25rem;
                       display:flex; flex-direction:column; justify-content:center;
                       align-items:center;
                       "
                       >
                    <p style="width:95%;
                           font-family: Frank Ruhl Libre;
                             font-style: normal;
                             font-weight: 500;
                             font-size: .3rem;
                             line-height: .39rem;
                              color: #FFFFFF;
                              margin-bottom: .6rem;
                              margin-bottom: .6rem; "
                               ngStyle.lt-lg="text-align:center"
                              >Have A Look At Some Of The Exciting New Concepts We Have Right here！
                     </p>
                    <div class="btn-yellow"
                              (click)="findOut()"
                              >FIND IT OUT</div>
              </div>
          </div>

          <!-- fourth row block -->

          <div class="buying-off-4-container"
          style="margin-left: 21%;display: flex; justify-content: flex-end; align-items: flex-start;margin-bottom:1.93rem "
           ngStyle.lt-lg="margin:auto;width:95%;display:flex;flex-direction: column; justify-content:center;  align-items:center;margin-bottom:.93rem"
           ngStyle.lt-lg="margin:auto;width:95%;display:flex;flex-direction: column; justify-content:center; align-items:center;margin-bottom: .93rem"

           >
             <div class="buy-off" fxFlex="50" fxFlex.lt-md="100%" fxFlex.lt-lg="95%"
                 style="display:flex; flex-direction: column; align-items: flex-start;
                         font-family: Inter;
                         font-style: normal;
                         font-weight: 500;
                         font-size: .16rem;
                         line-height: .3rem;
                         color: #333333;"
                 ngStyle.lt-lg="padding-left:0;display:flex; flex-direction: column; align-items: center; "
                 >
                     <p class="content-title"
                     style="  margin-bottom: .30rem;
                                 font-family: Inter;
                                 font-style: normal;
                                 font-weight: 600;
                                 font-size: .3rem;
                                 line-height: .36rem;
                                 color: #333333;"
                     >
                         What Is Buying off The Plan?
                     </p>
                     <div class="desc-details"
                         style="display: flex; flex-direction:column;justify-content: space-evenly;width: 92%"
                         ngStyle.lt-lg="width: 95%;font-size:.18rem;"
                         ngStyle.lt-md="width:100%; font-size:.18rem">


                         <div   class="content-desc" [ngClass]="{'limitTextHeight': isReadMore4}"
                         >
                          <p
                          style="font-size: .2rem;"
                          ngStyle.lt-lg="font-size:.24rem;line-height:.36rem"
                          (click)="showText4()"
                          >No doubt you’ve heard the term in the past, usually when in conversation about proprietary investments or home ownership options. To put it simply, when you purchase off plan property, you’re investing in an unfinished product, wherein the construction is yet to begin or be completed. <br><br>

                          Typically, you’re purchasing a concept home, based on the designs given by the architect and contractors, oftentimes coming in this early lends itself to more potent benefits for the overall design and final product. <br><br>

                          In many instances, this allows for a more affordable upfront payment for the home, as well as allowing some degree of wiggle room when it comes to financial strains that are more commonplace with ready-built purchases. <br><br>

                         </p>

                        </div>

                         <div style="display:flex; justify-content: flex-end;margin-top:.3rem;" (click)="showText4()">
                             <a style="border-bottom:1px solid #6A6A6A;font-size:.16rem"

                             > {{ isReadMore4 ? 'View More': 'View Less' }}</a>
                         </div>



                     </div>
             </div>
             <img  fxFlex="49" src="./assets/photo/first_page_4_row_buying-off.png" alt=""
             style="width:100%"  fxFlex.lt-lg="95"
             ngStyle.lt-lg="margin-bottom:.5rem"
             >
          </div>

             <!-- fifth row block -->

         <div class="buying-off-5-row-container"
             style="margin-top:.3rem;margin-right: 15%;margin-bottom: 0.98rem;display: flex; justify-content: space-between; align-items: stretch;;"
             ngStyle.lt-lg="margin:auto;width:95%;display:flex;flex-direction: column; justify-content:center; align-items:center; margin-bottom: 0.98rem; margin-right:0;"
            >

             <img  fxFlex="49"  src="./assets/photo/first_page_5_row_buying-off.png" alt=""
             style="width:100%;margin-right:.8rem;"  fxFlex.lt-lg="95"
             ngStyle.lt-lg="margin-bottom:.5rem;margin-right:0"
             >

             <div class="buy-off" fxFlex="60" fxFlex.lt-md="100%" fxFlex.lt-lg="95%"
             style="display:flex; flex-direction: column; align-items: flex-start;
                     font-family: Inter;
                     font-style: normal;
                     font-weight: 500;
                     font-size: .16rem;
                     line-height: .3rem;
                     color: #333333;"
             ngStyle.lt-lg="display:flex; flex-direction: column; align-items: center; "
             >
                 <p class="content-title"
                 style="  margin-bottom: .60rem;
                             font-family: Inter;
                             font-style: normal;
                             font-weight: 600;
                             font-size: .3rem;
                             line-height: .36rem;
                             color: #333333;"
                    ngStyle.lt-lg="margin-bottom:.2rem;"
                 >
                 Is Off The Plan Buying A Wiser Investment?
                 </p>
                 <div class="desc-details"
                 style="display: flex; flex-direction:column;justify-content: space-evenly;width: 92%;margin-bottom:.98rem;"
                 ngStyle.lt-lg="width: 95%;font-size:.18rem; "
                 ngStyle.lt-md="width:100%; font-size:.18rem">


                 <div   class="content-desc" [ngClass]="{'limitTextHeight': isReadMore5}"
                 >
                  <p
                  (click)="showText5()"
                  style="font-size: .2rem;"
                  ngStyle.lt-lg="font-size:.24rem;line-height:.36rem;"
                  >Depending on your circumstance, it can be a very good option to buy off plan property, whether it be for your portfolio or your very first home. For those who are looking at budgetary constraints and are not in the finest financial position, this is an excellent method of getting into the market without having to leverage your entire life on it. <br><br>

                  Another wise association with off the plan buying comes from the savings that are often found in the long-term for what you end up receiving. The locations for many prospective sites are in up-and-coming locales, close to transport, conveniently located, and unabashedly modern, well below what you’d normally pay. <br><br>

                  The trade-off is of course that it will take some time for your investment to come to fruition, so a forward-thinking plan is necessary as it will often be a certain degree of time for the construction to be completed.  <br><br>

                 </p>

                </div>

                 <div style="display:flex; justify-content: flex-end;margin-top:.3rem;" (click)="showText5()"
                 ngStyle.lt-lg="margin-bottom:.68rem;">
                     <a style="border-bottom:1px solid #6A6A6A;font-size:.16rem"

                     > {{ isReadMore5 ? 'View More': 'View Less' }}</a>
                 </div>
                 </div>
            </div>
       </div>


        <!-- six Query part -->
       <div class="Query-container"
         style="width:11.1rem;margin:auto; display: flex; flex-direction: column; justify-content: flex-start; align-items:center; margin-bottom: 0.98rem;
         "
         ngStyle.lt-lg="width:90%; margin:auto;margin-bottom:0.98rem"
       >
           <p class="Query-title"
               style="width:100%; text-align: center; margin-bottom:.3rem;"
               ngStyle.lt-md="font-size: .4rem;margin-bottom: .25rem;"
               ngStyle.lt-lg="font-size: .36rem; margin-bottom: .25rem;"
           >
               Common Queries Surrounding <br> Off The Plan Buying
          </p>

           <p class="Query-desc-content"
           style="width:100%; text-align: center;margin-bottom:.3rem;"
           ngStyle.lt-lg="width: 5.1rem;text-align: center;"
           >
               We get asked a lot of questions surrounding the process and financials of off plan houses and apartments.
           </p>

           <div fxLayout="row rap" fxLayoutAlign="center center" fxLayoutGap=".16rem grid"

             >
             <!-- first -->
               <div  fxFlex="30%" fxFlex.lt-md="80%" fxFlex.lt-lg="70%"
                  style="
                  background-color:  #FFFFFF;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   "
                    ngStyle.lt-md="font-size: .25rem;margin-bottom: .25rem;"
                    ngStyle.lt-lg="font-size: .22rem; margin-bottom: .25rem;"
               >
                    <p
                    style="width:100%;
                        margin-top: .42rem;
                        text-align: center;margin-bottom:.3rem;
                         font-family: Frank Ruhl Libre;
                         font-style: normal;
                         font-weight: normal;
                         font-size: 24px;
                         line-height: 31px;
                         text-align: center;
                         color: #000000;
                         margin-bottom: .34rem;
                         "
                          ngStyle.lt-md="font-size: .4rem;line-height:.45rem;margin-bottom: .25rem;"
                          ngStyle.lt-lg="font-size: .4rem;line-height:.45rem; margin-bottom: .25rem;"
                     >
                       Will I Have To Pay For <br>The Entire Bill At Once?
                    </p>
                    <div
                      style="background-color: #FF7712; display: flex; place-content: center center;
                          width: .64rem;
                          height: .48rem;
                          margin-bottom: -0.18rem;
                          z-index:2;
                      "
                    >
                       <img src="./assets/photo/white-arrow.svg" alt="">
                    </div>
                    <div style=" height:7rem;
                                 background-color: rgba(223, 223, 223, 0.3);
                                 padding:.25rem .4rem;
                                 font-family: Inter;
                                 font-style: normal;
                                 font-weight: 500;
                                 font-size: 0.16rem;
                                 line-height: .32rem;
                                 color: #333333;"
                                   ngStyle.lt-md="font-size:.24rem; line-height:.36rem; margin-bottom: .25rem;margin-top: .25rem;"
                                   ngStyle.lt-md="font-size:.24rem; line-height:.36rem; margin-bottom: .25rem;margin-top: .25rem;"
                                   ngStyle.lt-lg="font-size:.24rem;  line-height:.36rem;margin-bottom: .25rem;margin-top: .25rem;"
                       >
                     In short, no. You are required to pay a deposit when the contracts are exchanged which is typical for any off the plan purchase. The good news is, you are not required to make payments on the remainder until construction is finished. So, you can start saving in your own way right up until the day the builders are finished on your brand-new home.
                    </div>
               </div>


                 <!-- second -->
                 <div  fxFlex="30%" fxFlex.lt-md="80%" fxFlex.lt-lg="70%"
                  style="
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   "
                   ngStyle.lt-md="font-size: .28rem;;margin-bottom: .25rem;"
                   ngStyle.lt-lg="font-size: .28rem;; margin-bottom: .25rem;"

                 >
                 <div
                   style="background: #FF7712;
                   height:1.6rem;
                   width: 100%;
                   "
                 >
                     <p
                     style="width:100%;
                         margin-top: .42rem;
                         text-align: center;margin-bottom:.3rem;
                          font-family: Frank Ruhl Libre;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 24px;
                          line-height: 31px;
                          text-align: center;
                          color: #FFFFFF;
                          margin-bottom: -0.34rem;
                          "
                           ngStyle.lt-md="font-size: .4rem;line-height:.45rem;margin-bottom: .25rem;"
                           ngStyle.lt-lg="font-size: .4rem;line-height:.45rem; margin-bottom: .25rem;"
                      >
                        Can I Inspect Before <br>Paying?
                     </p>
                 </div>

                    <div
                      style="background-color: #FFFFFF; display: flex; place-content: center center;
                          width: .64rem;
                          height: .48rem;
                          margin-top: -0.24rem;
                          margin-bottom: -0.24rem;
                          z-index:2;
                      "
                    >
                       <img src="./assets/photo/yellow-arrow.svg" alt="">
                    </div>
                    <div style=" height:7rem;
                                 background-color: rgba(223, 223, 223, 0.3);
                                 padding:.25rem .4rem;
                                 font-family: Inter;
                                 font-style: normal;
                                 font-weight: 500;
                                 font-size: 16px;
                                 line-height: 30px;
                                 color: #333333;
                                 padding-bottom: .37rem;
                                 "
                                     ngStyle.lt-md="font-size: .24rem;margin-bottom: .25rem;margin-top: .25rem;"
                                     ngStyle.lt-lg="font-size: .24rem; margin-bottom: .25rem;margin-top: .25rem;"
                       >
                       Unfortunately, as off the plan means that construction is not yet underway or completed, it is impossible to physically inspect the prospective purchase. However, we are determined to give you every piece of information possible, and through the developers, we are able to showcase concept artworks and everything that we know about the property.
                       <br>
                        There are a number of stringent laws surrounding off the plan purchases that ensure that buyers have all the information they could possibly need to make their decision in good faith which we abide by completely.

                       <br><br>

                    </div>
               </div>

               <!-- third -->
                 <div  fxFlex="30%" fxFlex.lt-md="80%" fxFlex.lt-lg="70%"
                  style="background-color:  #FFFFFF;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   "
                    ngStyle.lt-md="font-size: 24px;margin-bottom: .25rem;"
                    ngStyle.lt-lg="font-size: 20px; margin-bottom: .25rem;"
               >
                    <p
                    style="width:100%;
                        margin-top: .42rem;
                        text-align: center;margin-bottom:.3rem;
                         font-family: Frank Ruhl Libre;
                         font-style: normal;
                         font-weight: normal;
                         font-size: 24px;
                         line-height: 31px;
                         text-align: center;
                         color: #000000;
                         margin-bottom: .34rem;
                         "
                          ngStyle.lt-md="font-size: .4rem;line-height:.45rem;margin-bottom: .25rem;"
                          ngStyle.lt-lg="font-size: .4rem;line-height:.45rem; margin-bottom: .25rem;"
                     >
                     How Long Will It Be <br>Before I Can Move In?
                    </p>
                    <div
                      style="background-color: #FF7712; display: flex; place-content: center center;
                          width: .64rem;
                          height: .48rem;
                          margin-bottom: -0.18rem;
                          z-index:2;
                      "
                    >
                       <img src="./assets/photo/white-arrow.svg" alt="">
                    </div>
                    <div style=" height:7rem;
                                 background-color: rgba(223, 223, 223, 0.3);
                                 padding:.25rem .4rem;
                                 font-family: Inter;
                                 font-style: normal;
                                 font-weight: 500;
                                 font-size: 16px;
                                 line-height: 30px;
                                 color: #333333;"
                                    ngStyle.lt-md="font-size: .24rem;margin-bottom: .25rem;margin-top: .25rem;"
                                    ngStyle.lt-lg="font-size: .24rem; margin-bottom: .25rem;margin-top: .25rem;"

                                  >
                       Each construction is a little different, so the variable times you will have to wait will depend on the location, the scale of construction, as well as how far the developers are in the process of drafting and building. When it comes to buying off the plan property, you can expect to wait a while for your investment to flourish, but it will be well worth it when it does.
                    </div>
               </div>
           </div>
       </div>

       <!-- seventh learn about more -->

       <div class="learn-one-title-3-div"
       style="width:11.1rem;margin:auto; display: flex; flex-direction: column; justify-content: flex-start; align-items:flex-start;
       margin-bottom: 1.16rem;
       "
       ngStyle.lt-md="width: 95%; margin: auto; margin-bottom: 1.16rem;"
       ngStyle.lt-lg="width: 95%; margin: auto;  margin-bottom: 1.16rem;"
  >
     <p class="Learn-title"
     style="width:100%; text-align: center; margin-bottom:.3rem;
      font-family: Frank Ruhl Libre;
       font-style: normal;
       font-weight: bold;
       font-size: .40rem;
       line-height: .52rem;
       color: #00725B;
       display: flex;
       align-items: center;
       padding-left: .5rem;
     "
         ngStyle.lt-md=" display: flex;justify-content: center;
         align-items: center; padding-left:0; font-size: .4rem;margin-bottom: .25rem;"
         ngStyle.lt-lg=" display: flex; justify-content: center;
         align-items: center; padding-left:0; font-size: .36rem; margin-bottom: .25rem;"
     >Learn About More In Your City</p>

     <div class="three-container" style="width:100%;"
     fxLayout="row rap" fxLayoutAlign="center center" fxLayoutGap=".16rem"
     fxLayoutGap.lt-lg="0"
     >

       <!-- first -->
       <div  class="first-card-city" fxFlex="30%" fxFlex.lt-md="80%" fxFlex.lt-lg="70%"

       style="margin-bottom:1.9rem;"
       ngStyle.lt-lg="margin-bottom:300px"

       >
         <div style="height: 4.2rem;
           margin-bottom: .3rem;
           background:url('./assets/photo/Sydney.png')
           center center/cover no-repeat;

           display:flex; flex-direction:column; justify-content: flex-end;
           align-items: flex-start"
           (mouseover)="mouse_enter_1()"
           (mouseleave)="mouse_leave_1()"

           (click)= "doHideCube_1()"
        >
           <div style="width:100%;height:100%;background:#000;opacity: 0.6;"
             [ngClass]="{'hide-itself': !hide_itself_1}"
           >
           <div
           fxLayout="column" fxLayoutAlign="center center"
           fxFlexAlign="center"
          style="width:77.8%; margin-left: -0.21rem;margin-top: .5rem;margin-left:.3rem;"
        >

            <div
            fxLayout="row" fxLayoutAlign="start stretch"
            style="font-family: Frank Ruhl Libre;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 41px;
                color: #FFFFFF;
                margin-bottom: .31rem
                "
            >
            </div>

              <!-- button 1  -->

            <div
            class="btn-hover"

             (click)="sydneyApart($event); $event.stopPropagation()"

            >
            <p fxFlexOffset="10"
            >Apartments</p>
            <div>
                <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
            </div>


            </div>

              <!-- button 2  -->
            <div
            class="btn-hover"

             (click)="sydneyTown($event); $event.stopPropagation()"
            >
            <p fxFlexOffset="10" fxFlexOffset.lt-lg="9"

            >Houses</p>
            <div
            fxFlexOffset.lt-lg="5.6"
            >
                <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
            </div>


            </div>

              <!-- button 3  -->
            <div
            class="btn-hover"
             (click)="donothing($event); $event.stopPropagation()"

            >
            <p fxFlexOffset="17"  fxFlexOffset.lt-lg="10"
            >House & Land</p>
            <div>
                <!-- <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt=""> -->
            </div>


            </div>

       </div>
           </div>
               <div class="yellow-cube"
               [ngClass]="{'hide-itself': hide_itself_1}"
               (click)= "doHideCube_2()"


               >
                   <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
               </div>
          </div>
       <div fxLayout="row" fxLayoutAlign="center center"
       style="font-family: Inter;
               font-style: normal;
               font-weight: bold;
               font-size: .2rem;
               line-height: .24rem;
               color: #222831;
       "
       ngStyle.lt-lg="margin-bottom:.4rem;font-size: .28rem;"
       >Sydney</div>
       </div>

       <!-- second -->
       <div  class="first-card-city" fxFlex="30%" fxFlex.lt-md="80%" fxFlex.lt-lg="70%"

       style="margin-bottom:1.9rem;"
       ngStyle.lt-lg="margin-bottom:300px"

       >
         <div style="height: 4.2rem;
           margin-bottom: .3rem;
           background:url('./assets/photo/Melbourne_flinder.png')
           center center/cover no-repeat;

           display:flex; flex-direction:column; justify-content: flex-end;
           align-items: flex-start"

            (mouseover)="mouse_enter_2()"
            (mouseleave)="mouse_leave_2()"

           (click)= "doHideCube_2()"
        >
           <div style="width:100%;height:100%;background:#000;opacity: 0.6;"
             [ngClass]="{'hide-itself': !hide_itself_2}"
           >
           <div
           fxLayout="column" fxLayoutAlign="center center"
           fxFlexAlign="center"
          style="width:77.8%; margin-left: -0.21rem;margin-top: .5rem;margin-left:.3rem;"
        >

            <div
            fxLayout="row" fxLayoutAlign="start stretch"
            style="font-family: Frank Ruhl Libre;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 41px;
                color: #FFFFFF;
                margin-bottom: .31rem
                "
            >
            </div>

              <!-- button 1  -->

            <div
            class="btn-hover"

             (click)="melApart($event); $event.stopPropagation()"

            >
            <p fxFlexOffset="10"
            >Apartments</p>
            <div>
                <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
            </div>


            </div>

              <!-- button 2  -->
            <div
            class="btn-hover"

             (click)="melTown($event); $event.stopPropagation()"
            >
            <p fxFlexOffset="10" fxFlexOffset.lt-lg="9"

            >Houses</p>
            <div
            fxFlexOffset.lt-lg="5.6"
            >
                <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
            </div>


            </div>

              <!-- button 3  -->
            <div
            class="btn-hover"
             (click)="donothing($event); $event.stopPropagation()"

            >
            <p fxFlexOffset="17"  fxFlexOffset.lt-lg="10"
            >House & Land</p>
            <div>
                <!-- <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt=""> -->
            </div>


            </div>

       </div>
           </div>
               <div class="yellow-cube"
               [ngClass]="{'hide-itself': hide_itself_2}"
               (click)= "doHideCube_3()"


               >
                   <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
               </div>
          </div>
       <div fxLayout="row" fxLayoutAlign="center center"
       style="font-family: Inter;
               font-style: normal;
               font-weight: bold;
               font-size: .2rem;
               line-height: .24rem;
               color: #222831;
               color: #222831;
       "
       ngStyle.lt-lg="margin-bottom:.4rem;font-size: .28rem;"
       >Melbourne</div>
       </div>

       <!-- third -->
       <div  class="first-card-city" fxFlex="30%" fxFlex.lt-md="80%" fxFlex.lt-lg="70%"

       style="margin-bottom:1.9rem;"
       ngStyle.lt-lg="margin-bottom:300px"

       >
         <div style="height: 4.2rem;
           margin-bottom: .3rem;
           background:url('./assets/photo/Brisbane_sky_building.png')
           center center/cover no-repeat;

           display:flex; flex-direction:column; justify-content: flex-end;
           align-items: flex-start"

          (mouseover)="mouse_enter_3()"
          (mouseleave)="mouse_leave_3()"

           (click)= "doHideCube_3()"
        >
           <div style="width:100%;height:100%;background:#000;opacity: 0.6;"
             [ngClass]="{'hide-itself': !hide_itself_3}"
           >
           <div
           fxLayout="column" fxLayoutAlign="center center"
           fxFlexAlign="center"
          style="width:77.8%; margin-left: -0.21rem;margin-top: .5rem;margin-left:.3rem;"
        >

            <div
            fxLayout="row" fxLayoutAlign="start stretch"
            style="font-family: Frank Ruhl Libre;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 41px;
                color: #FFFFFF;
                margin-bottom: .31rem
                "
            >
            </div>

              <!-- button 1  -->

            <div
            class="btn-hover"

             (click)="brisApart($event); $event.stopPropagation()"

            >
            <p fxFlexOffset="10"
            >Apartments</p>
            <div>
                <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
            </div>


            </div>

              <!-- button 2  -->
            <div
            class="btn-hover"

             (click)="brisApart($event); $event.stopPropagation()"
            >
            <p fxFlexOffset="10" fxFlexOffset.lt-lg="9"

            >Houses</p>
            <div
            fxFlexOffset.lt-lg="5.6"
            >
                <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
            </div>


            </div>

              <!-- button 3  -->
            <div
            class="btn-hover"
             (click)="donothing($event); $event.stopPropagation()"

            >
            <p fxFlexOffset="17"  fxFlexOffset.lt-lg="10"
            >House & Land</p>
            <div>
                <!-- <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt=""> -->
            </div>
            </div>

       </div>
           </div>
               <div class="yellow-cube"
               [ngClass]="{'hide-itself': hide_itself_3}"
               (click)= "doHideCube_3()"


               >
                   <img src="./assets/photo/first_page_7_row_right_arrow.svg" alt="">
               </div>
          </div>
       <div fxLayout="row" fxLayoutAlign="center center"
       style="font-family: Inter;
               font-style: normal;
               font-weight: bold;
               font-size: .2rem;
               line-height: .24rem;
               color: #222831;
       "
       ngStyle.lt-lg="margin-bottom:.4rem;font-size: .28rem;"
       >Brisbane</div>
       </div>

    </div>
 </div>


       <!-- eighth row choose yephome  -->
       <div  class="eight-row-container" style="margin-bottom:2.11rem;"
       ngStyle.lt-lg="width:95%;margin:auto;margin-bottom:1.2rem;"
       >
           <div class="choose-8-yep"
          style="
          max-width: 19.2rem;
          height: 6.03rem;
          margin-bottom: 0rem;
          background: url('./assets/photo/eighth_row_yellow_background.svg');
          display: flex; justify-content: center; align-items: flex-start;"
       >
            <div class="left-desc-container"
               style=" width:38.5%;
               display: flex;flex-direction: column; justify-content: flex-start;
               align-items:flex-end;
               padding: 0.1rem .1rem;
               margin-top: .8rem;"
                 ngStyle.lt-lg= " width:70%; margin-bottom: .5rem; margin-top: .1rem;"
                 ngStyle.lt-md= " width:90%; margin-bottom: .5rem; margin-top: .1rem;"
            >
                <p
                 style="
                     width: 100%;
                     font-family: 'Frank Ruhl Libre';
                     font-style: normal;
                     font-weight: bold;
                     font-size: .40rem;
                     line-height: .52rem;
                     color: #FFFFFF;
                     margin-top: .2rem;
                     margin-bottom: .3rem;
                     "
                     ngStyle.lt-lg= "margin-bottom:.6rem;margin-top:0.26rem"
                     ngStyle.lt-md= "margin-bottom:.6rem;margin-top:0.5rem"
                >
                Why Choose YepHome?
             </p>
                <p
                 style="
                     width: 100%;
                     font-family: 'Inter';
                     font-style: normal;
                     font-weight: 500;
                     font-size: .16rem;
                     line-height: .3rem;
                     color: #FFFFFF;
                     margin-bottom: .3rem;
                     text-algin:center"
                      ngStyle.lt-lg= "font-size: .23rem"
                >YepHome is a forward-thinking innovation company that is proud to be the mediators between homeowners, investors, and the home of their dreams. We’re run by experienced experts in the residential and commercial fields and will always be here to answer any questions you may have. </p>
                <div>

         </div>
            </div>
            <img src="./assets/photo/smilel-guy.png" alt=""  style=" width:28.5%">
           </div>

             <div class="contact-us-container" fxLayout="row" fxLayoutAlign="start" fxLayoutAlign.lt-lg="center"
             fxLayoutAlign.lt-md="center" >
                 <div class="dialog-container"
                 fxFlexOffset="18"
                 fxFlexOffset.lt-lg="0"
                 fxFlexOffset.lt-md="0"

                 style="background:  #535353;
                 margin-top: -10%;
                 width: 32%;
                 height:2.9rem;
                 display: flex; flex-direction: column;
                 justify-content: space-evenly;
                 align-items:center;
                 margin-right: 0rem;
                 "
                 ngStyle.lt-lg= " width:70%; margin-top: 5%"
                 ngStyle.lt-md= " width:85%; margin-top: 5%"
                 ngStyle.lt-sm= " width:100%; margin-top: 5% font-size: .28rem"
             >
                 <p style="width:96%;
                 font-family: Frank Ruhl Libre;
                 font-style: normal;
                 font-weight: 500;
                 font-size: .24rem;
                 line-height: .36rem;
                 color: #FFFFFF;
                 margin-bottom: .8rem;
                 text-align: center;
                 "
                 >Any Questions About Off The Plan Property?
                     Get In Contact With Us Today!
             </p>

             <div class="btn-yellow"
                (click) = "contatcUs($event);$event.stopPropagation()"
               >CONTACT US</div>
             </div>
             </div>
       </div>


       <!-- nineth row  -->

       <div class="footer-section"
         style="width:100%;margin:auto;display: flex;flex-direction: column; justify-content:
          start; align-items: center; padding: .36rem; margin-bottom: .9rem;"
         ngStyle.lt-lg="width:100%;font-size:28rem"
         ngStyle.lt-md="width:100%;font-size:28rem"

       >
            <p
              style="
                 width: 38%;
                 font-family: Inter;
                 font-style: normal;
                 font-weight: bold;
                 font-size: .24rem;
                 line-height: .29rem;
                 margin-bottom: .23rem;
                 text-align: center;
              "
              ngStyle.lt-lg="width: 90%;font-size:.28rem;margin-bottom:.2rem;"
            >NEVER MISS OUT YOUR DREAM PROPERTIES</p>
            <p
              style="width: 38%;
                     font-family: Inter;
                     font-style: normal;
                     font-weight: normal;
                     font-size: .18rem;
                     line-height: .22rem;
                     color: #666666;
                     margin-bottom: .33rem;
                     text-align: center;
                     "
             ngStyle.lt-lg="width:70%; font-size:.24rem;margin-bottom:.2rem;"
             ngStyle.lt-md="width:90%; font-size:.24rem;margin-bottom:.2rem;"

            >Register Now to Approach the Exclusive Content</p>
            <a class="menu-btn Register-now-btn"

                              ngStyle.lt-lg="width:60%;  height: 0.6rem; font-size:.24rem"
                              ngStyle.lt-md="width:90%;  height: 0.6rem; font-size:.24rem"
                             (click)="registerNow()"
                              >Register Now</a>

       </div>

       <!-- tenth -->
      <div style="width:90%; margin: auto;margin-top: .1rem;"
        >
          <div  class="footer-part"
              fxLayout="row rap" fxLayoutAlign="space-evenly center" fxLayoutGap=".16rem  Grid">

         <div fxFlex="24"  fxFlex.lt-md="80%" fxFlex.lt-lg="70%" style="
             display:flex; flex-direction: column;flex-wrap: nowrap;
             justify-content: flex-start; align-items: flex-start;
            "
             ngStyle.lt-lg="margin-bottom: 0.9rem"
             ngStyle.lt-md="margin-bottom: 0.9rem"
        >
              <div
                style="margin-top:-45px;"
              >
                  <img src="./assets/yephome/yeplogo.svg" alt="">
                  <img src="./assets/yephome/YepHome.svg" alt="">
              </div>
              <p
                style="
                   width: 100%;
                   font-family: Inter;
                   font-style: normal;
                   font-weight: normal;
                   font-size: .14rem;
                   line-height: .17rem;
                   text-align: justify;
                   margin-bottom:  .53rem;
                "
                  ngStyle.lt-md=" font-family: Inter;
                  font-style: normal;
                  font-weight: normal; line-height: .26rem;font-size: 0.26rem;margin-bottom: 0.26rem;"
                  ngStyle.lt-lg=" font-family: Inter;
                  font-style: normal;
                  font-weight: normal; line-height: .26rem;font-size: 0.26rem;margin-bottom: 0.26rem;"
              >
                  YepHome is an innovative and fast-growing prop-tech platform launched in 2020 to satisfy the demand for a smarter approach to property sales in Australia. YepHome believes that the first step towards a better life begins with finding your dream home.
               </p>

              <div class="crypto"
                 style="width: 100%; height: .46rem; display: flex; justify-content: space-between; align-items: center;
                        border: 1.5px solid #00725B; border-radius: 4px;padding: 0 .15rem;
                 "
                 ngStyle.lt-lg="margin-bottom: 0.3rem"
                 ngStyle.lt-md="margin-bottom: 0.3rem"           >
                  <img src="./assets/logos/crypto.svg" alt=""
                    style="width:.18rem; height:.19rem"
                  >
                  <p
                   style="
                   font-family: Noto Sans SC;
                   font-style: normal;
                   font-weight: bold;
                   font-size: 14px;
                   line-height: 20px;
                   color:  #00725B;;"
                  >Cryptocurrencies Transaction
                  </p>
              </div>

         </div>

         <div class="footer-row-container"   fxFlex="30" fxFlex.lt-md="80%" fxFlex.lt-lg="70"
             style="
              display:flex; flex-direction: column;
              justify-content: flex-start; align-items: flex-start;
             "
            >
           <div class="link-part-container"
           style="width:100%;display: flex; flex-direction: row; justify-content: flex-start; align-items:flex-start;
             align-items: 1.2rem; margin-bottom:.7rem;
           "

            >
               <div class="link-part"
                 style="margin-right:1.2rem"

                 ngStyle.lt-md="margin-bottom: 0.3rem"
               >
                   <p class="link-title"
                     style="margin-bottom: .16rem;"
                   >SITE MAP</p>
                   <ul>
                       <li (click)="homeClick()"><a href="">Home</a></li>
                       <li (click)="projectClick()"><a href="">Project</a></li>
                       <li (click)="angentClick()"><a href="">Agents</a></li>
                       <li (click)="newsClick()"><a href="">News</a></li>
                       <li (click)="showRoomClick()"><a href="">3D Showroom</a></li>
                       <li (click)="joinAgentClick()"><a href="">Join YepAgent</a></li>
                   </ul>
               </div>

               <div class="link-part">
                   <p class="link-title"
                   style="margin-bottom: .16rem;"
                   >Quick LINK</p>
                   <ul>
                       <li (click)="apartClick()"><a href="">Apartment</a></li>
                       <li (click)="apartMelClick()"><a href="">Apartments in Melbourne</a></li>
                       <li (click)="apartSynClick()"><a href="">Apartments in  Sydney</a></li>
                       <li (click)="apartBrisClick()"><a href="">Apartments in Brisbane</a></li>
                       <li (click)="apartPerthClick()"><a href="">Apartments in Perth</a></li>
                   </ul>
               </div>
           </div>

           <div class="business-part"  >
             <p class="business-part-title"
               style="font-family: Inter;
                   font-style: normal;
                   font-weight: 600;
                   font-size: 14px;
                   line-height: 17px;
                   color: #222222;
                   line-height: .17rem;
                   margin-bottom: .07rem;"

             >
                   Business Cooperation
             </p>
             <p   style="font-family: Inter;
                   font-style: normal;
                   font-weight: normal;
                   font-size: 14px;
                   line-height: 17px;
                   line-height: .17rem;"
             >
                 <img src="./assets/logos/envelope.svg" alt=""
                 style="margin-left:0.02rem;"
                 >
                 <span class="business-part-inbox">business@yephome.com.au</span>
             </p>
           </div>
       </div>

       <div class="footer-row-container"   fxFlex="30"  fxFlex.lt-md="80%" fxFlex.lt-lg="70"
       style="
        display:flex; flex-direction: column;
        justify-content: flex-start; align-items: flex-start;
       "
      >
     <div class="link-part-container"
     style="width:100%;display: flex; flex-direction: row; justify-content: flex-start; align-items:flex-start;
       align-items: 1.2rem; margin-bottom:.7rem;
     "
      >
         <div class="link-part"
           style="margin-right:1.2rem"
         >
             <p class="link-title"
               style="margin-bottom: .16rem;"
             ></p>
             <ul>
                 <li (click)="townClick()"><a href="">Townhouse</a></li>
                 <li (click)="townMelClick()"><a href="">Townhouses in Melbourne</a></li>
                 <li (click)="townSynClick()"><a href="">Townhouses in Sydney</a></li>
                 <li (click)="townBrisClick()"><a href="">Townhouses in Brisbane</a></li>
                 <li (click)="townPerthClick()"><a href="">Townhouses in Perth</a></li>
             </ul>
         </div>

         <div class="link-part">
             <p class="link-title"
             style="margin-bottom: .16rem;"
             ></p>
             <ul>
                 <li (click)="landClick()"><a href="">Land</a></li>
                 <li (click)="landMelClick()"><a href="">Land in Melbourne</a></li>
                 <li (click)="landSydnClick()"><a href="">Land in Sydney</a></li>
                 <li (click)="landBrisClick()"><a href="">Land in Brisbane</a></li>
                 <li (click)="landPerthClick()"><a href="">Land in Perth</a></li>
             </ul>
         </div>
     </div>

     <div class="business-part"  >
       <p class="business-part-title"
         style="font-family: Inter;
             font-style: normal;
             font-weight: 600;
             font-size: 14px;
             line-height: 17px;
             color: #222222;
             line-height: .17rem;
             margin-bottom: .07rem;"

       >
       Customer Service
       </p>
       <p   style="font-family: Inter;
             font-style: normal;
             font-weight: normal;
             font-size: 14px;
             line-height: 17px;
             line-height: .17rem;"
       >
           <img src="./assets/logos/envelope.svg" alt=""
           style="margin-left:0.02rem;"
           >
           <span class="business-part-inbox">business@yephome.com.auservice@yephome.com.au</span>
       </p>
     </div>
 </div>

         </div>

          <div
           style="width: 90%;margin:auto; height: 1.1rem;"
           fxLayout="row" fxLayoutAlign="space-between center"
            style="font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color:#999999;
            border-top: 1px solid #999999;
            padding: 0.214rem;
            margin-top: .41rem;
            "
          >
               <div fxFlex="60" fxLayout="row" fxLayoutALign="start center">
                    <p>Copyright © 2020 YEPHOME. All Rights Reserved.</p>
                    <p>Privacy Policy &nbsp;&nbsp;  | &nbsp;&nbsp;  </p>
                    <p>Terms & Conditions.</p>
               </div>


                   <ul fxFlex="10"
                     style="display:flex; justify-content: space-evenly; align-items:center"
                >
                       <li>
                         <a href="">
                         <img src="./assets/logos/Instg.svg" alt="">
                         </a>
                       </li>
                       <li>
                           <a href="">
                             <img src="./assets/logos/fb.svg" alt="">
                           </a>
                      </li>
                   </ul>
            </div>
      </div>
 </div>

