.correct{
  padding:.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .28rem;
  line-height: .36rem;
  color:#2f2f2f;
  font-family: 'Inter'
  // width: 4rem;
  // height: 3.6rem;
}
