
  <div class="content-container">

     <!-- hidden  -->

    <input type="hidden" value="townhouses for sale sydney">
    <input type="hidden" value="New Townhouses For Sale Sydney | Off the Plan Townhouses">
    <input type="hidden" value="We will be adding an additional 750+ words surrounding the keywords in Column A to the page and adding a Call to Action (CTA).">
    <input type="hidden" value="Find and Buy Off The Plan Townhouses in Sydney. YepHome is Australia’s Leading Real Estate Site For Off The Plan Townhouses in Sydney. View our Listings Now.">


      <!-- first row -->
      <div
      style="width: 100%; height: 4.7rem;
      background: url('./assets/photo/image-Sydney\ townhouse-1.png')
          center center/cover no-repeat;
          margin-bottom: .62rem;"
      >
      </div>

  <!-- second row -->

      <p
      style="
      width: 70%;
      margin:0 auto;
      font-family: Frank Ruhl Libre;
      font-style: normal;
      font-weight: bold;
      font-size: .52rem;
      line-height: .67rem;
      color: #00725B;
      margin-bottom: .99rem;"
      ngStyle.lt-lg = "width: 70%;font-size: 0.4rem"
      ngStyle.lt-md = "width: 80%;font-size: 0.36rem"
      ngStyle.lt-sm = "width: 90%;font-size: 0.24rem"
      >Off The Plan Townhouses For Sale In Sydney

      <br> &nbsp;&nbsp;&nbsp;<span
      style="color:#FF7712"
      >| YepHome</span>
      </p>

      <!-- third row  -->

       <div class="off-plan-container"
      style="width:70%; margin:auto;margin-bottom:1.28rem"
      fxLayout="row no-wrap"
      ngStyle.lt-md="width:100%; justify-content:space-around"
      ngStyle.lt-lg = "width: 70%;"
      ngStyle.lt-md = "width: 80%;"
      ngStyle.lt-sm = "width: 90%;"
      >

      <div class="two-yellow-block" fxFlexOffset="0" fxFlexOffset.lt-lg="0"
      fxFlexOffset.lt-xl="0"
      fxFlexOffset.lt-md="0"
      fxFlexOffset.lt-md="0"

      >
      <!-- yellow view_module  -->
            <div class="two-yellow-block-container" fxLayout="row" fxLayoutAlign="start start"  fxLayoutGap="2%"
            fxLayoutAlign.lt-lg="space-around start"
             >
                <div class="two-yellow-pads" fxLayout="column" fxLayoutAlign="start start"
              >
                        <div class="yellow">
                            <img src="./assets/logos/yellow.svg" alt=""
                            ngStyle.lt-lg="width: 0.4rem;"
                           >
                        </div>

                        <div class="yellow" fxFlexOffset="-140" style="margin-left:32%">
                            <img src="./assets/logos/yellow_dash.svg" alt=""
                            ngStyle.lt-lg="width:.4rem;">
                        </div>
                </div>
                <div class="two-yellow-desc"  fxFlexOffset="2"
                    style="font-family: Lato; font-style: normal;  font-weight: 500;
                            font-size: 20px;line-height: 30px; color: #333333; width:10.21rem;"
                    ngStyle.lt-lg="width:80%"
                 >
                    <p style="margin-bottom:.4rem;"
                    ngStyle.lt-lg="font-size:.26rem;line-height:.36rem">
                      Everyone deserves the perfect place to call home. At YepHome, we have an incredible array of townhouses that are for sale in Sydney to choose from. Close distance to a range of grocery shops, schools, restaurants, and public transport, it is the ideal environment for anyone to reside in. Located just 30 minutes from the CBD, our townhouses for sale in Western Sydney are centred at one of the most pristine and desirable spots in the metropolitan area. These new townhouses for sale in Sydney are perfect for a couple starting a family to even a worker needing a place near their office and property. You can see why more and more people are swapping the city for the suburbs. Not only is it a great area to live in, but it is great for your investment portfolio as it has been predicted to skyrocket in value over the next few years. For those looking for a comfortable home to unwind, look no further than our off the plan townhouses in Sydney.
                      <br><br>

                      At Yep Home, we are the leading provider for every homeowner that is looking for a property that is well and truly their own
                    </p>

                </div>
            </div>

       <!-- yellow view_module  -->

       </div>
       </div>

       <!-- fourth row  -->

       <div Style="width:75%;margin:auto;margin-bottom:.88rem;"
       fxLayout="row wrap"  fxLayoutAlign="start center" fxLayoutGap="2%"
       fxLayout.lt-lg="column"    fxLayoutAlign.lt-lg="start center" fxLayoutGap.lt-lg="12%"

     >
        <!-- first column  -->
        <div fxFlex="calc(30%-10px)" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"
        style="height: 9rem;display: flex; flex-direction: column;
        justify-content: flex-start;align-items: center; margin-bottom:.5rem"

        ngStyle.lt-md="height:auto;font-size: .25rem;  margin-bottom: .98rem; margin-top: .4rem;"
        ngStyle.lt-lg="height:auto;font-size: .25rem;  margin-bottom: .98rem; margin-top: .4rem;"
        >
        <div style="display: flex; justify-content: center; align-items:center;">
            <div
              style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
                background: url('./assets/photo/image-Sydney\ townhouse-2.png')
                 center center/cover no-repeat; margin-bottom: .25rem;"
              >
              </div>
        </div>

             <p
             style="
             align-self: flex-start;
             font-family: Frank Ruhl Libre;
             font-style: normal;
             font-weight: 500;
             font-size: .3rem;
             line-height: .39rem;
             color: #00725B;
             margin-bottom: .57rem;"
             >Stunning Location</p>
             <p
             style="
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                color: #333333;
                margin-bottom: 80px;                "

                  ngStyle.lt-lg="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"
                  ngStyle.lt-md="font-size: .22rem;margin-bottom: .45rem;margin-top: .25rem;"
                  ngStyle.lt-sm="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"

             >
             Our impeccable townhouses for sale in Sydney are found right in the heart of the city and beyond. A great location for schools, workplaces, public transport, and shops, it is no wonder why people are making the move to a mid-terrace home. This is essential for working professionals and/or families who are in need of living near everything. In addition to this, we have off the plan townhouses in Sydney that are the perfect option for university and tertiary students, who need a space close to their school and can share with other people. Located in an exceptional spot of the metropolitan area lies a comfortable space and outdoor garden that you would be proud to call your own. Our range of properties extends beyond the city centre, with an incredible list of townhouses for sale in Western Sydney.

          </p>
         </div>

        <!-- second-column  -->
        <div  fxFlex="calc(30%-10px)" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

        ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
        ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

         style="height: 9rem;display: flex; flex-direction: column;
          justify-content: flex-start;align-items: center;"
        >
        <div style="display: flex; justify-content: center; align-items:center;">
            <div
              style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
                background: url('./assets/photo/image-Melbourne\ apartment-4.png')
                 center center/cover no-repeat; margin-bottom: .25rem;"
              >
              </div>
        </div>

             <p
             style="
             align-self: flex-start;
             font-family: Frank Ruhl Libre;
             font-style: normal;
             font-weight: 500;
             font-size: .3rem;
             line-height: .39rem;
             color: #00725B;
             margin-bottom: .57rem;"
             >Bedrooms</p>
             <p
             style="
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                color: #333333;"
                ngStyle.lt-lg="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"
                ngStyle.lt-md="font-size: .22rem;margin-bottom: .45rem;margin-top: .25rem;"
                ngStyle.lt-sm="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"

             >

             At YepHome, our new townhouses for sale in Sydney hold a great place to live in with bedrooms that are a serene and tranquil space for a goodnight’s sleep. They are incredibly spacious, providing comfort to any homeowner looking for the ideal place to have a restful slumber. For young workers, couples, or families looking to have a space to call their own, our townhouses for sale in Sydney are sure to give you a friendly and warm welcome. Take a look at the gorgeous sights of the city, the perfect spot to have a good cuppa to start your day.
          </p>
         </div>

          <!-- third-column  -->
          <div  fxFlex="calc(30%-10px)" fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

          ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
          ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

           style="height: 9rem;display: flex; flex-direction: column;
            justify-content: flex-start;align-items: center;"
          >
          <div style="display: flex; justify-content: center; align-items:center;">
              <div
                style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
                  background: url('./assets/photo/image-Sydney\ townhouse-4.png')
                   center center/cover no-repeat; margin-bottom: .25rem;"
                >
                </div>
          </div>

               <p
               style="
               align-self: flex-start;
               font-family: Frank Ruhl Libre;
               font-style: normal;
               font-weight: 500;
               font-size: .3rem;
               line-height: .39rem;
               color: #00725B;
               margin-bottom: .57rem;"
               >Bathrooms</p>
               <p
               style="
                  font-family: Inter;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 30px;
                  color: #333333;"
                   ngStyle.lt-lg="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"
                   ngStyle.lt-md="font-size: .22rem;margin-bottom: .45rem;margin-top: .25rem;"
                   ngStyle.lt-sm="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"

               >
               For a pristine bathroom space that radiates with luxury and charm, YepHome has a few great options to choose from. With their gorgeous vanity station, pearl coloured tiles and marble walls, you can feel at home. Our off the plan townhouses in Sydney provide a state-of-the-art functioning shower system and toilet, giving you the ultimate relaxation. Whether you are getting ready to start the day or winding down from a night out, here we have the perfect spot to do all your self-care rituals in peace. Give yourself a bathroom that you deserve with our top-of-the-line features.
              </p>
           </div>

           <!-- fourth-column-->
           <div fxFlex="calc(30%-10px)"  fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

           ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
           ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

            style="height: 9rem;display: flex; flex-direction: column;
             justify-content: flex-start;align-items: center;"
           >
           <div style="display: flex; justify-content: center; align-items:center;">
               <div
                 style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
                   background: url('./assets/photo/image-Sydney\ townhouse-5.png')
                    center center/cover no-repeat; margin-bottom: .25rem;"
                 >
                 </div>
           </div>

                <p
                style="
                align-self: flex-start;
                font-family: Frank Ruhl Libre;
                font-style: normal;
                font-weight: 500;
                font-size: .3rem;
                line-height: .39rem;
                color: #00725B;
                margin-bottom: .57rem;"
                >Living Room</p>
                <p
                style="
                   font-family: Inter;
                   font-style: normal;
                   font-weight: 500;
                   font-size: 16px;
                   line-height: 30px;
                   color: #333333;"
                      ngStyle.lt-lg="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"
                      ngStyle.lt-md="font-size: .22rem;margin-bottom: .45rem;margin-top: .25rem;"
                      ngStyle.lt-sm="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"

                >
                Everyone needs a space to lounge after a long day. Our new townhouses for sale in Sydney offer a humble living room perfect for relaxing or having guests visit. We have a spacious room with a gorgeous view outlooking the city, with shading allowing you to choose the amount of light and privacy you need. You can have a space perfect for entertaining your visitors or relax in for a wonderful night in. You can have enough room for the whole family to enjoy in our impressive townhouses for sale in Sydney.
              </p>
            </div>
              <!-- fifth-column-->
              <div  fxFlex="calc(30%-10px)"  fxFlex.lt-md="90%" fxFlex.lt-lg="80%"

              ngStyle.lt-md="height:auto;font-size: .25rem;margin-bottom: .25rem; margin-top: .4rem;"
              ngStyle.lt-lg="height:auto;font-size: .22rem; margin-bottom: .25rem; margin-top: .4rem;"

               style="height: 9rem;display: flex; flex-direction: column;
                justify-content: flex-start;align-items: center;"
              >
              <div style="display: flex; justify-content: center; align-items:center;">
                  <div
                    style="width:2.18rem;height: 2.18rem;margin-bottom:0.33rem; align-self: center;
                       background: url('./assets/photo/image-Sydney\ townhouse-6.png')
                       center center/cover no-repeat; margin-bottom: .25rem;"
                    >
                    </div>
              </div>

                   <p
                   style="
                   align-self: flex-start;
                   font-family: Frank Ruhl Libre;
                   font-style: normal;
                   font-weight: 500;
                   font-size: .3rem;
                   line-height: .39rem;
                   color: #00725B;
                   margin-bottom: .57rem;"
                   >Kitchen</p>
                   <p
                   style="
                      font-family: Inter;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 30px;
                      color: #333333;"
                        ngStyle.lt-lg="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"
                        ngStyle.lt-md="font-size: .22rem;margin-bottom: .45rem;margin-top: .25rem;"
                        ngStyle.lt-sm="font-size: .22rem; margin-bottom: .45rem;margin-top: .25rem;"
                   >
                   Many memories in the home take place in the kitchen. From cooking up a feast for the family to having a perfect date night at home, the kitchen conjures up the best space for food preparation and enjoying each other’s company. With our state-of-the-art taps, stove system, and pantry space, our off the plan townhouse in Sydney is a delightful treat to live in.

                  </p>
               </div>

               <div fxFlex="calc(30%-10px)"></div>
     </div>


     <!-- fifth row   -->

     <div style="width:100%; height: 5.3rem; margin:auto; margin-bottom: 2rem;
     background: url('./assets/photo/image-Sydney\ apartment-6.png')
    "
    ngStyle.lt-lg="height: 7.6rem;margin-bottom:0.68rem"
    fxLayout="row"   fxLayoutAlign="flex-start center" fxLayoutAlign.lt-lg="center center"
  >
      <div fxFlex="29"
      fxFlexOffset="15"
      fxFlex.lt-lg="65"
      fxFlex.lt-md="85"
      fxFlex.lt-sm="100"
      fxFlexOffset.lt-lg="0"
      >

      <p
      style="
          width: 100%;
          font-family: 'Frank Ruhl Libre';
          font-style: normal;
          font-weight: bold;
          font-size: .40rem;
          line-height: .52rem;
          color: #FFFFFF;
          margin-top: .9rem;
          margin-bottom: .3rem;
          "
          ngStyle.lt-lg= "margin-bottom:.3rem;padding:0.12rem; margin-top: 0rem; margin-top:1.26rem;font-size: .3rem;"
          ngStyle.lt-md= "margin-bottom:.3rem;padding:0.12rem; margin-top: 0rem; margin-top:1.265rem;font-size: .3rem;"
     >
     Feel Right At Home
  </p>

          <p
          style="
             width:100%;
             margin:auto;
             font-family: Inter;
             font-style: normal;
             font-weight: 500;
             font-size: .16rem;
             line-height: .3rem;
             color: #FFFFFF;
             margin-bottom: 1.40rem;
         "
         ngStyle.lt-lg="margin:center;margin:auto;padding:0.12rem;font-size: .22rem;line-height: .44rem;"
         ngStyle.lt-md="font-size: .22rem; padding:0.12rem; line-height: .38rem;"
         ngStyle.lt-sm="font-size: .24rem; padding:0.12rem; line-height: .38rem;"
          >
          At YepHome, we offer the finest spaces to start a life in. Our services extend beyond our range of off the plan townhouses in Sydney, providing property and land across Australia. You can find our range of apartments and homes in Melbourne, Brisbane, and Perth. Our highly qualified team of agents will be more than happy to assist you with any questions regarding our new townhouses for sale in Sydney. With our help, you’ll find the home that will turn your ‘Yep’ into a ‘Yes.’

         </p>
      </div>

      <!-- <div fxFlex="25" fxFlex.lt-lg="0"
      >

      </div> -->


  </div>


  <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutAlign.lt-lg="center"
  fxLayoutAlign.lt-md="center" >
      <div class="dialog-container"
      fxFlexOffset="50"
      fxFlexOffset.lt-lg="0"
      fxFlexOffset.lt-md="0"

      style="background: #FF7712;
      margin-top: -20%;
      width: 5.19rem;
      height:2.62rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      margin-right: 0rem;
      margin-bottom: .88rem;
      "
      ngStyle.lt-lg= " width:85%; margin-top: 5%;margin-bottom:.98rem; height:3.9rem"
      ngStyle.lt-md= " width:95%; margin-top: 5%;margin-bottom:.98rem;height:3.9rem"
      ngStyle.lt-sm= " width:100%; margin-top: 5% font-size: .28rem；margin-bottom:.98rem;height:3.9rem"
  >
      <p style="width:85%;
      font-family: Frank Ruhl Libre;
      font-style: normal;
      font-weight: 500;
      font-size: .28rem;
      line-height: .36rem;
      color: #FFFFFF;
      margin-bottom: 1.18rem;
      text-align: center;
      "
      >speak with an agent today
  </p>

  <div class="btn-yellow"
     (click) = "contatcUs($event);$event.stopPropagation()"
      >CONTACT US</div>
  </div>
  </div>


      <!-- end div container  -->

  </div>


